<html>
<head>
	<meta charset="UTF-8">
</head>

<body style="font-family:Arial; font-size:20px;">

	<header0> <b>Inserir/Remover:</b> </header0>
		<div class = "menus"><a href="add"> Categoria/SubCategoria </a></div>
	<header1> <b>Inserir/Remover:</b> </header1>
		<div class = "menus"><a href="retalhista"> Retalhista </a></div> 	        
	<header2> <b>Listar:</b> </header2>
		<div class = "menus"><a href="ivm"> Eventos de Reposição </a></div>
		<div class = "menus"><a href="sub_categorias"> Categorias em Profundidade </a></div>
</body>
</html>
